# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SpringBootTasks\ReversePolishPostfixNotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
